@media (max-width: 1200px) {
    .benefits_info {
        padding: 0 30px;
    }
}
@media (max-width: 1100px) {
    .container {
        width: 90%;
    }
    .main_info {
        width: 90%;
    }
    .learn_more_item {
        padding: 0 20px;
    }
}
@media (max-width: 850px) {
    .main_title {
        font-size: 55px;
    }
}
@media (max-width: 730px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 15px;
        width: 40px;
        top: 15px;
        opacity: 0.7;
        background-color: #26311c;
        border-radius: 5px;
        padding: 2px;
    }
    .hamburger span {
        display: block;
        height: 2px;
        background-color: #ffffff;
        margin: 3px;
    }
    .hamburger_active {
        height: 35px;
        width: 35px;
    }
    .hamburger_active span:nth-child(1) {
        transform: translateY(11px) rotate(-45deg);
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        transform: translateY(6px) rotate(45deg);
    }
    .menu {
        position: fixed;
        z-index: 5;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        background-color: rgba(122, 209, 55, 0.9);
        justify-content: center;
        align-items: center;
        transition: 0.6s all;
    }
    .menu li:first-child {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .menu li:last-child {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .active {
        left: 0px;
    }
    .main_info {
        padding: 20px;
    }
    .benefits {
        background: url('../img/background/background_benefits.png') left/cover;
    }
    .benefits_info {
        width: 90%;
    }
}
@media (max-width: 650px) {
    .main_title {
        font-size: 45px;
        line-height: 45px;
    }
    .main_subtitle {
        padding: 0 30px;
        margin-bottom: 10px;
    }
    .footer_links {
        width: 300px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    .footer_info {
        flex-direction: column;
        padding: 9px 0;
        line-height: 15px;
    }
}
@media (max-width: 520px) {
    .main_info {
        padding: 15px;
    }
    .main_subtitle {
        padding: 0 20px;
    }
}
@media (max-width: 400px) {
    .main {
        top: 200px;
    }
    .main_subtitle {
        font-size: 25px;
        line-height: 25px;
    }
}
