@media (max-width: 1200px) {
    .menu li {
        width: fit-content;
        padding: 3px;
    }
    .benefits_info {
        padding: 0 30px;
    }
}
@media (max-width: 1100px) {
    .container {
        width: 800px;
    }
    .main_info {
        width: 90%;
    }
    .main_subtitle {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .main_text {
        font-size: 14px;
        line-height: 20px;
    }
    .learn_more_item {
        padding: 0 20px;
    }

}
@media (max-width: 850px) {
    .container {
        width: 650px;
    }
    .main_title {
        font-size: 50px;
    }
}
@media (max-width: 730px) {
    .container {
        width: 100%;
    }
    .menu {
        width: 90%;
    }
    .main_subtitle {
        margin-bottom: 10px;
    }
    .benefits {
        background: url('../img/background/background_benefits.png') left/cover;
    }
    .benefits_info {
        width: 90%;
    }
}
@media (max-width: 630px) {
    .menu {
        flex-direction: column;
    }
    nav {
        margin: 0 auto;
    }
    .main {
        top: 210px;
        font-size: 45px;
        line-height: 40px;
    }
    .menu_link {
        line-height: 30px;
        text-align: center;
    }
    .main_info {
        padding: 15px;
    }
    .footer_link {
        font-size: 15px;
        line-height: 25px;
    }
    .footer_links {
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer_info {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .main_title {
        font-size: 35px;
        line-height: 30px;
    }
    .main_subtitle {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 8px;
    }
}
@media (max-width: 435px) {

}
@media (max-width: 360px) {

}